<h1>Signup!</h1>

<%= form_for :user, html: {class: 'signup_form'}, url: '/users' do |f| %>

  <div class="form_field">First Name: <%= f.text_field :first_name %></div>
  <div class="form_field">Last Name: <%= f.text_field :last_name %></div>
  <div class="form_field">Email: <%= f.text_field :email %></div>
  <div class="form_field">Password: <%= f.password_field :password %></div>
  <div class="form_field">Password Confirmation: <%= f.password_field :password_confirmation %></div>
  <div class="form_field"><%= f.submit "Submit" %></div>

<% end %>